<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    findUnusedCode="false"
>
    <!-- <php>
        <ini name="max_execution_time" value="120"/>
        <ini name="memory_limit" value="512M"/>
    </php> -->

    <projectFiles>
        <directory name="src" />
    </projectFiles>

    <issueHandlers>
        <MoreSpecificReturnType errorLevel="suppress" />
        <InvalidStringClass errorLevel="suppress" />
        <MixedArgument errorLevel="suppress" />
        <MixedArgumentTypeCoercion errorLevel="suppress" />
        <MixedArrayAccess errorLevel="suppress" />
        <MixedAssignment errorLevel="suppress" />
        <MixedInferredReturnType errorLevel="suppress" />
        <MixedPropertyTypeCoercion errorLevel="suppress" />
        <MixedReturnStatement errorLevel="suppress" />
        <PossiblyNullArgument errorLevel="suppress" />
        <PossiblyNullPropertyAssignmentValue errorLevel="suppress" />
        <PossiblyNullReference errorLevel="suppress" />
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <referencedProperty name="Symfony\Bundle\FrameworkBundle\Controller\AbstractController::$container" />    <!-- Injected by Symfony DI via setContainer() because marked as #[Required] -->
            </errorLevel>
        </PropertyNotSetInConstructor>
        <InvalidReturnStatement>
            <errorLevel type="suppress">
                <file name="src/Models/User.php" />
            </errorLevel>
        </InvalidReturnStatement>
        <LessSpecificReturnStatement>
             <errorLevel type="suppress">
                <file name="src/Models/User.php" />
            </errorLevel>
        </LessSpecificReturnStatement>
    </issueHandlers>
</psalm>
